{% extends 'index.html' %}

{% block title %}Lista de Videojuegos{% endblock %}

{% block content_title %}Lista de Videojuegos{% endblock %}

{% block content %}
<form method="GET" action="">
    <label for="plataforma">Filtrar por Plataforma:</label>
    <select name="plataforma" id="plataforma" class="select">
        <option value="">-- Todas las plataformas --</option>
        {% for plataforma in plataformas %}
            <option value="{{ plataforma.id }}" {% if plataforma.id == request.GET.plataforma %}selected{% endif %}>
                {{ plataforma.nombre }}
            </option>
        {% endfor %}
    </select>

    <label for="genero">Filtrar por Género:</label>
    <select name="genero" id="genero" class="select">
        <option value="">-- Todos los géneros --</option>
        {% for genero in generos %}
            <option value="{{ genero.id }}" {% if genero.id == request.GET.genero %}selected{% endif %}>
                {{ genero.nombre }}
            </option>
        {% endfor %}
    </select>

    <button type="submit" class="button">Filtrar</button>
</form>

<ul>
    {% for videojuego in videojuegos %}
        <li>{{ videojuego.titulo }} - Stock: {{ videojuego.stock }}</li>
    {% endfor %}
</ul>

<a href="{% url 'registrar_videojuego' %}" class="button">Registrar un nuevo videojuego</a>
{% endblock %}
