{% extends 'index.html' %}

{% block title %}Lista de Alquileres{% endblock %}

{% block content_title %}Lista de Alquileres{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Videojuego</th>
            <th>Cliente</th>
            <th>Fecha de Alquiler</th>
            <th>Fecha de Devolución</th>
        </tr>
    </thead>
    <tbody>
        {% for alquiler in alquileres %}
        <tr>
            <td>{{ alquiler.videojuego.titulo }}</td>
            <td>{{ alquiler.cliente }}</td>
            <td>{{ alquiler.fecha_alquiler|date:"d/m/Y H:i" }}</td>
            <td>
                {% if not alquiler.fecha_devolucion %}
                <a href="{% url 'finalizar_alquiler' alquiler.id %}" class="button">Finalizar Alquiler</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'registrar_alquiler' %}" class="button">Registrar un nuevo alquiler</a>
{% endblock %}
