<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} SysGames</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/cn9LhHm.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="{% url 'index' %}">
            <img src="https://i.imgur.com/cn9LhHm.png" alt="Logo SySGames" class="img">
            <h1>Sistema de Gestión de Videojuegos</h1>
            </a>
        </header>
        <div class="main">
            <aside class="sidebar">
                <a class="sideItem" href="{% url 'registrar_videojuego' %}">
                    <i class="fi fi-br-gamepad"></i>    
                    <h3>Registrar Nuevo Videojuego</h3>
                </a>
                <a class="sideItem" href="{% url 'listar_videojuegos' %}">
                    <i class="fi fi-br-search"></i>
                    <h3>Consultar Lista de Videojuegos</h3>
                </a>
                <a class="sideItem" href="{% url 'registrar_alquiler' %}">
                    <i class="fi fi-br-edit"></i>
                    <h3>Registrar Alquiler</h3>
                </a>
                <a class="sideItem" href="{% url 'lista_alquileres' %}">
                    <i class="fi fi-br-checkbox"></i>
                    <h3>Finalizar Alquiler</h3>
                </a>  
            </aside>

            <main class="content">
                <h2>{% block content_title %}Selecciona una opción del menú{% endblock %}</h2>
                <p>{% block content %}{% endblock %}</p>
            </main>
        </div>
        <footer class="footer">
            <p>SysGames © 2024</p>
            <p>Hecho por <span>Alexis Mansilla y Enrique Ordoñez</span></p>
        </footer>
    </div>
</body>

</html>