<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} SysGames</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/cn9LhHm.png" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header class="header">
            <img src="https://i.imgur.com/cn9LhHm.png" alt="Logo SySGames">
            <h1>Sistema de Gestión de Videojuegos</h1>
        </header>
        <div class="main">
            <aside class="sidebar">
                <h2>Barra Lateral</h2>
                <p>Contenido de la barra lateral. Aquí puedes colocar enlaces, información adicional, etc.</p>
            </aside>

            <main class="content">
                <h2>Contenido Principal</h2>
                <p>Este es el contenido principal de la página. Puedes añadir texto, imágenes, y otros elementos aquí.
                </p>
                <p>Este diseño se adapta a diferentes tamaños de pantalla y dispositivos gracias a Flexbox.</p>
            </main>
        </div>
        <footer class="footer">
            <p>SysGames © 2024</p>
        </footer>
    </div>
</body>

</html>